<div class="container">

  <div class="carrinho" *ngIf="produtosCarrinho.length > 0">
    <div class="title text-center">Carrinho</div>

    <div class="row">
      <div class="col-md-7 col-12">

        <div class="row">

          <div class="col-12 mb-2 " *ngFor="let produto of produtosCarrinho">
            <app-produto-carrinho (removeProduct)="getProdutoCarrinho()" [produto]="produto"
              (attValorTotal)="getTotal()">

            </app-produto-carrinho>
          </div>

        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="card">
          <div class="green-bar"></div>
          <div class="totals p-3">
            <p class="totals-header font-weight-bold pb-2">
              Resumo do Pedido
            </p>
            <div class="totals-content">
              <p>Valor dos produtos: {{ precoTotal |currency:"BRL"}} </p>
            </div>
          </div>
        </div>

        <!-- Botão de checkout-->
        <div class=" btn-container mt-3 d-flex justify-content-center">
          <button type="button" class="btn " routerLink='/carrinho/recibo'>Finalizar Compra</button>
        </div>
        <!--END Botão de checkout-->

      </div>
    </div>
    <div class="row">
      <div class="mb-5 mt-5"></div>
      <!-- <div class="col-6">
        <img src="../../../assets/img/Wallet.svg" >
      </div> -->
    </div>
  </div>

  <div class="carrinho-vazio title text-center" *ngIf="produtosCarrinho && produtosCarrinho.length == 0">
    <h1>Carrinho Vazio!</h1>

    <div class="img-carrinho-vazio m-auto">
      <img src="../../../assets/img/search.svg" alt="">
    </div>



  </div>

</div>
