
<!--sobre-->

<section>
  <div class="container mb-5">
    <div class="text-center m-5 text-about title">Sobre o projeto</div>


    <div class="row mt-3">

      <div class="col-md-6 mt-5">
        <div>
          <img class="w-100" src="../../../assets/img/Koalas in trees-bro.svg">
        </div>
      </div>
      <div class="col-md-6">

        <div class="text-justify mt-5">
          <div class="description-projeto">
            <div></div>
            <div>A Difusa Eco nasceu com o intuito de comercializar produtos ecologicamente corretos, através de materiais reciclados e/ou reutilizados. Todos os produtos ofertados em nosso site, serão obtidos apenas de fornecedores locais, com produção em pequena escala. Produtores esses, que são pessoas socialmente marginalizadas, como mulheres, pessoas com deficiência, pretes, LGBTQIAP+, etc.​</div>
            <div>O pequeno produtor/empreendedor no Brasil, muitas vezes não tem voz e acaba sendo ofuscado por grandes industrias e/ou empresas. Dessa forma, muitos acabam não encontrando formas de crescer profissionalmente, perdendendo a chance de mudar de condições e até mesmo ajudar suas famílias. Em 2020 no Brasil, já existem mais de 13 milhões de pessoas morando em comunidades carentes. Segundo a Camila Boehm, da  <a href="https://agenciabrasil.ebc.com.br/geral/noticia/2020-01/moradores-de-favelas-movimentam-r-1198-bilhoes-por-ano" target="_blank">Agência Brasil</a>, esses moradores movimentam mais de R$ 119 bilhões por ano. Isto é, empreender faz parte da rotina dessas pessoas, está no sangue!</div>
            <div>Sabendo de tudo isso, nosso projeto foi desenvolvido para dar voz e reconhecimento para as pessoas que mais precisam. Inclusive a palavra "Difusa", de acordo com o dicionário, significa algo se espalha por várias ou por todas as direções possíveis, ou seja, queremos que essas pessoas consigam comercializar seus produtos para qualquer lugar, não apenas de forma local.</div>
          </div>
        </div>
      </div>

    </div>
</div>
</section>

<!--Agradecimentos-->
<div class="container mt-5 mb-5">
  <div class="text-center text-thanks mt-5 title">Agradecimentos</div>
  <div class="row mt-3">


    <div class="col-md-6 mt-5">

      <div class=" text-justify mt-5">
        <div>
          <div class="img-section2 pt-5">
            <div class="description-projeto">Não podíamos deixar de falar dessa equipe incrível que nos guiou por toda essa jornada! <b>A Generation Brazil</b> trouxe um norte para todos nós, sempre mostrando as melhores formas, incentivando e estimulando a sermos cada dia melhor!​</div>
            <div class="description-projeto">Esse agradecimento fica de forma especial para todes os instrutores e colegas que tivemos ao longo do curso, onde levaremos um pedacinho de cada um em nossas memórias e corações.​</div>
            <div class="text-center mt-5 title">MUITO OBRIGADE!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <div>
        <img class="w-100" src="../../../assets/img/Appreciation-bro.svg">
      </div>
    </div>

  </div>

</div>
<!--/Agradecimentos-->

