<footer class="page-footer font-small pt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <img class="img align-self-start " src="../../../assets/img/Logotipo.svg" alt="">
      </div>

      <div class="col-sm social-network m-md-0 my-4">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <a href="https://www.facebook.com" target="_blank" class="icoFace">
              <i class="fab fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://www.instagram.com" target="_blank" class="icoInsta">
              <i class="fab fa-instagram" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://www.linkedin.com/" target="_blank" class="icoLin">
              <i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
          </div>
          <div>
            <a href="https://github.com/login" target="_blank" class="icoGit">
              <i class="fab fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="col-sm third-column m-md-0 my-4 ">
        <div class="d-flex justify-content-center">
          contato@DifusaEco.com.br
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12 footer-copyright bg-dark text-center ">
    <span class="text-light"> Difusa Eco LTDA © 2021 Copyright. Todos os direitos reservados. </span>
  </div>
</footer>
